.content {
    background-size: cover;
    border-top:1px groove rgb(0,128,128);
    background-image:url(../images/background-image.jpeg);
}

.bg-color {
    background-color:rgba(0,0,0,0.8);
    height: 1800px;
}

.post-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.post-image {
    height: 200px;
    width: 400px;
}


/* タブレットサイズ以上の時 */
@media screen and (min-width: 959px) {
	.post-image {
    width: 224px;
    height: 149.328px;
  }
}
