.content {
    background-size: cover;
    border-top:1px groove rgb(0,128,128);
    background-image:url(../images/background-image.jpeg);
}

.bg-color {
    background-color:rgba(0,0,0,0.8);
    height: 1800px;
}

.post-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.post-image {
    height: 200px;
    width: 400px;
}

.map-wrap {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding-top: (465 / 1440 * 100%);
    height: 600px;

}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Map.png');
    background-color: gainsboro;
}

/* タブレットサイズ以上の時 */
@media screen and (min-width: 959px) {
	.post-image {
    width: 224px;
    height: 149.328px;
  }
}
